@page "/"
@using Classes
@inject AppDbContext dbcontext

<div>
    <table>
        @foreach (var book in dbcontext.Authors)
        {
            <tr>
                <td>@book.Name</td>
            </tr>
        }
    </table>
</div>

@code
{
  
}
